testYN/
testsRR/
NEXT_STEPS.ipynb
centinela_lst_env.yml
Sentinel_Hub_Statistical_API/
textfiles/OAuthcredentials.txt
source/__pycache__/
__pycache__/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore OS/system files
.DS_Store
Thumbs.db

# Ignore IDE/editor files
.vscode/
.idea/
